<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">



	<!-- Servlets -->




	<servlet>
		<servlet-name>loginServiceImpl</servlet-name>
		<servlet-class>com.project.greenote.server.loginview.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServiceImpl</servlet-name>
		<url-pattern>/greenote/LoginView</url-pattern>
	</servlet-mapping>

	
	

	<servlet>
		<servlet-name>NoteServiceImpl</servlet-name>
		<servlet-class>com.project.greenote.server.mainview.NoteServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NoteServiceImpl</servlet-name>
		<url-pattern>/greenote/MainView</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>eventServiceImpl</servlet-name>
		<servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>s
		<servlet-name>eventServiceImpl</servlet-name>
		<url-pattern>/greenote/gwteventservice</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>GreeNote.html</welcome-file>
	</welcome-file-list>

</web-app>
